.main-contact {
  background-image: var(--bg);
  background-repeat: no-repeat;
  background-position: center center;
  flex: 1 1 auto;
  background-size: 900px;
  /* testen: background-size: 400px auto;  feste Pixelgröße */
  display: grid;
  place-items: center;
  padding: 2rem;
}

.contact-card {
  max-width: 40ch;       
  line-height: 1.6;
  font-size: 1rem;

  display: flex;         
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: justify;
  text-justify: inter-word; 
  padding: 2rem;
  border-radius: 1rem;
}

.contact-card a {
  color: inherit;
  font-weight: 500;

}

/*Newsletter Container Button*/
.embeddable-buttondown-form {
  margin-top: 1.5rem;
  width: 100%;
  text-align: left; /* oder center, wenn mittig */
}

.embeddable-buttondown-form label {
  display: none;
}

.embeddable-buttondown-form input[type="email"] {
  width: 100%;
  padding: 0.5rem 0;
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  font-size: 1rem;
  font-family: inherit;
  outline: none;
  align-items: left;
  font-family: 'BerlinTypeWeb', sans-serif;
}

/* Button minimalistisch, andere Schrift */
.embeddable-buttondown-form input[type="submit"] {
  margin-top: 0.8rem;
  width: 100%;
  align-items: last baseline;
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 300;
  letter-spacing: 0.05em;
  padding: 0;
  font-family: 'BerlinTypeWeb', sans-serif;
}

.embeddable-buttondown-form input[type="submit"]:hover {
  text-decoration: underline;
}

 