.main-contact {
  background-image: var(--bg);
  background-repeat: no-repeat;
  background-position: center center;
  flex: 1 1 auto;
  background-size: 900px;
  /* testen: background-size: 400px auto;  feste Pixelgröße */
  display: grid;
  place-items: center;
  padding: 2rem;
}

.contact-card {
  max-width: 40ch;       
  line-height: 1.6;
  font-size: 1rem;

  display: flex;          /* Block-Inhalt zentrieren */
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: justify;
  text-justify: inter-word; 
  padding: 2rem;
  border-radius: 1rem;
}

.contact-card a {
  color: inherit;
  font-weight: 500;

}

/*Newsletter Container Button*/
.embeddable-buttondown-form {
  margin-top: 1.5rem;
  text-align: left; /* oder center, wenn mittig */
}

/* Label kann optional verschwinden */
.embeddable-buttondown-form label {
  display: none; /* falls du es nicht brauchst */
}

/* Input-Feld: nur Unterstrich */
.embeddable-buttondown-form input[type="email"] {
  width: 100%;
  padding: 0.5rem 0;
  border: none;
  border-bottom: 1px solid #CF3212;
  background: transparent;
  font-size: 1rem;
  font-family: inherit;
  outline: none;
}

/* Button minimalistisch, andere Schrift */
.embeddable-buttondown-form input[type="submit"] {
  margin-top: 0.8rem;
  background: none;
  border: none;
  color: #CF3212;
  font-size: 1rem;
  cursor: pointer;

  font-family: 'Honeymoon'
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 0;
}

.embeddable-buttondown-form input[type="submit"]:hover {
  text-decoration: underline;
}

 