/* Header-specific styles */
.header {
  background: white;
  padding: 1rem;
  border-bottom: 0.5px solid #CF3212;
  box-sizing: border-box;
}

.header h1 {
  margin: 0;
  font-size: 1rem;
  font-weight:lighter;
  color: #CF3212;
}

/* Mobile Anpassungen */
@media (max-width: 768px) {
  .header {
    padding: 0.8rem 1rem;
  }


/* Header styles */
.header { 
  width: 100%;
  background: white;
  padding: 1.5rem 2rem;
  border-bottom: 0.5px solid #CF3212;
  box-sizing: border-box;
}
}

